{% load staticfiles %}
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <!--The above two are links which allow you to install css-->
        <link rel="stylesheet" href="{% static 'css/website.css' %}">
        <!-- The above code points to the where our css file is -->
        <title>William Horst</title>
    </head>
    <body style="width:100%; background-color:#FFFFFE">
        <!--<div id="left"></div>
        <div id="right"></div>
        <div id="top"></div>
        <div id="bottom"></div>
        -->
        <div id ="tab" style="width:100%;">

            <div id="intro" >
            <h1><font class="hed" face ="Georgia" color ="black" size = "7em">William Horst</font></h1>
            <h1><font class="hed" face ="Georgia" size = "4em" color ="black">Student, Programmer, and Geek.</font></h1>
            </div>

            <div style="text-align:center; padding-bottom:50px;" id ="menu">
                <a class = "ele" id ="Home" href="{% url 'home' %}">Home</a>
                <a class = "ten" id = "Projects" href="{% url 'projects' %}">Portfolio</a>
                <a class = "ten" id = "Coursework" href="{% url 'coursework' %}">Coursework</a>
                <a class = "ten" id = "Hobbies" href="{% url 'hobbies' %}">About</a>
                <a class = "ten" id = "Contact" href="{% url 'contact' %}">Contact</a>
            </div>




        </div>


            {% block content %}
            {% endblock %}


        <div id ="info"><font face ="Georgia" color ="gray">

            <p>William Horst / Powered by Django</p>
        </font></div>

    </body>
</html>