{% extends 'website/base.html' %}
{% load staticfiles %}

{% block content %}

    <link rel="stylesheet" href="{% static 'css/coursework.css' %}">


    <div class="center"  style="font-family:Georgia; color:black" id="curriculum">

        <h2 align="center" color ="Black">Central Michigan University</h2>
        <h3 align="center">Spring 2016</h3>

        <div class ="center" id = table_hold>
        <table class ="bodytext center" style="width:500px;">
            <tr>
            <td style ="text-align:left">John</td>
            <td  style ="text-align:right">Admin</td>
            <td style ="text-align:right">555-5555</td>
            </tr>
        </table>

        <table  class ="bodytext center" style="margin-top:25px; width:500px;">
            <tr>
            <td style ="text-align:left; padding-left:105px;">James</td>
            <td  style ="text-align:right; padding-right:105px;">Sales</td>
            </tr>
        </table>
-->
        </div>
    </div>
-->

{%  endblock  %}