{% extends 'website/base.html' %}
{% load staticfiles %}

{% block content %}

    <link rel="stylesheet" href="{% static 'css/coursework.css' %}">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
   <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
   <script type="text/javascript" src="{% static 'jss/coursework.js' %}"></script>


    <a href="https://www.cmich.edu/Pages/default.aspx"><h2 align="center" style="font-family:Georgia; color:black; " color ="Black">Central Michigan University</h2></a>

    <div id="hold_img">
            <img id = "will_full" src="\static\Pictures\centralmichigan1.png"  alt = "Image Not Found" />
    </div>


    <div class="center "style="margin-bottom:50px; padding-top:40px; font-family:Georgia; color:black">


        <h3 class="title" align="center">Spring 2016</h3>


        <table class ="bodytext table">
            <tr style= class="center">
            <td style = "text-align:left;" class="ANT320_T aShow">ANT 320</td>
            <td  style ="text-align:center; padding-left:5%;" class="COM357_T aShow">COM 357</td>
            <td  style ="text-align:right" class="CPS280S_T aShow">CPS 280S</td>
            </tr>
        </table>

        <table  class ="bodytext table">
            <tr>
            <td class="CPS360_T aShow" style ="text-align:left; padding-left:20%;">CPS 360</td>
            <td  class="ENG175WI_T aShow" style ="text-align:right; padding-right:20%;">ENG 175</td>
            </tr>
        </table>

        <div style=" padding-top:20px;" class="center bodytext">
            <text id="ANT320" class="divtoggle1 center"><p>Diversity of North American Indian cultures, their
            experiences of colonization and culture change, and their contributions to American and global cultures.</p>
            <p>This class informed me of the struggles that Native Americans encountered before the 20th Century.</p></text>
            <div id="COM357" class="divtoggle1 center"><p>Theories and techniques for creating public speeches. Designed
                for students who seek to improve public speaking skills.</p><p>My biggest takeaway from COM 357 was learning
                how to effectively speak in public.</p></div>
            <div id="CPS280s" class="divtoggle1 center"><p>Intensive study of one or more selected programming languages.
                In the case of CPS 280s, the two languages studied are Python and Ruby.</p><p>From this course I learned about
                regular expressions, web develpment with the Django framework, SQL programming, and how to write test scripts </p></div>
            <div id="CPS360" class="divtoggle1 center"><p>Design and analysis of digital circuits, processor datapath,
                instruction set architecture, cache memory, pipelined instruction execution, virtual memory.
            </p><p>In CPS 360, I leraned about CPU architecture design, SPARC assembly, digital circuit design, C programming, and bit operations.</p></div>
            <div id="ENG175WI" class="divtoggle1 center"><p>Introduction to the study of language and social systems.
                Topics include linguistic structures, acquisition, varieties, and change. </p><p>My largest takeaway from this course was the
                knowledge that almost all languages are somehow related in someway.</p></div>
        </div>


    </div>







    <div class="center "style="margin-bottom:50px; padding-top:40px; font-family:Georgia; color:black">


        <h3 class="title" align="center">Fall 2015</h3>


        <table class ="bodytext table">
            <tr style= class="center">
            <td style = "text-align:left;" class="BCA211_T aShow">BCA 211</td>
            <td  style ="text-align:center; padding-left:5%;" class="CPS210_T aShow">COM 357</td>
            <td  style ="text-align:right" class="CPS240_T aShow">CPS 240</td>
            </tr>
        </table>

        <table  class ="bodytext table">
            <tr>
            <td class="ENG201_T aShow" style ="text-align:left; padding-left:20%;">ENG 201</td>
            <td  class="STA382_T aShow" style ="text-align:right; padding-right:20%;">STA 382</td>
            </tr>
        </table>

        <div style="padding-top:20px;" class="center bodytext">
            <text id="BCA211" class="divtoggle2 center">Hello, My anme is William Horst!</text>
            <div id="CPS210" class="divtoggle2 center">I like Cheese</div>
            <div id="CPS240" class="divtoggle2 center"><p>Detailed coverage of the object-oriented programming paradigm
                and concepts, design patterns, distributed objects, graphical user interfaces and event handling.</p><p>
                In this class, I learned OOP design patterns, GUI building, Android development, threading, and graph theory.</p> </div>
            <div id="ENG201" class="divtoggle2 center">I like Cheese</div>
            <div id="STA382" class="divtoggle2 center">and po-tat-oes</div>
        </div>


    </div>





    <div class="center "style="margin-bottom:50px; padding-top:40px; font-family:Georgia; color:black">


        <h3 class="title" align="center">Spring 2015</h3>


        <table class ="bodytext table">
            <tr style= class="center">
            <td style = "text-align:left;" class="BUS100_T aShow">BUS 100</td>
            <td  style ="text-align:center; padding-left:5%;" class="CPS181_T aShow">CPS 181</td>
            <td  style ="text-align:right" class="HDF100_T aShow">HDF 100</td>
            </tr>
        </table>

        <table  class ="bodytext table">
            <tr>
            <td class="MTH132_T aShow" style ="text-align:left; padding-left:20%;">MTH 132</td>
            <td  class="PSY100_T aShow" style ="text-align:right; padding-right:20%;">PSY 100</td>
            </tr>
        </table>

        <div style="padding-top:20px;" class="center bodytext">
            <text id="BUS100" class="divtoggle3 center">Hello, My anme is William Horst!</text>
            <div id="CPS181" class="divtoggle3 center">I like Cheese</div>
            <div id="HDF100" class="divtoggle3 center">and po-tat-oes</div>
            <div id="MTH132" class="divtoggle3 center">I like Cheese</div>
            <div id="PSY100" class="divtoggle3 center">and po-tat-oes</div>
        </div>


    </div>



<div class="center "style="margin-bottom:50px; padding-top:40px; font-family:Georgia; color:black">


        <h3 class="title" align="center">Fall 2014</h3>


        <table class ="bodytext table">
            <tr style= class="center">
            <td style = "text-align:left;" class="AST111_T aShow">AST 111</td>
            <td  style ="text-align:center; padding-left:5%;" class="BCA101_T aShow">BCA 101</td>
            <td  style ="text-align:right" class="CPS180_T aShow">CPS 180</td>
            </tr>
        </table>

        <table  class ="bodytext table">
            <tr>
            <td class="MTH130_T aShow" style ="text-align:left; padding-left:20%;">MTH 130</td>
            <td  class="MUS113_T aShow" style ="text-align:right; padding-right:20%;">MUS 113</td>
            </tr>
        </table>

        <div style="padding-top:20px;" class="center bodytext">
            <text id="AST111" class="divtoggle4 center">Hello, My anme is William Horst!</text>
            <div id="BCA101" class="divtoggle4 center">I like Cheese</div>
            <div id="CPS180" class="divtoggle4 center">and po-tat-oes</div>
            <div id="MTH130" class="divtoggle4 center">I like Cheese</div>
            <div id="MUS113" class="divtoggle4 center">and po-tat-oes</div>
        </div>


    </div>







{%  endblock  %}