{% extends 'website/base.html' %}
{% load staticfiles %}

{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<script type="text/javascript"></script>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/hobbies.css' %}">


<div class="center1 bodytext">
        <text>
            Read ahead and learn who I am!
        </text>
    </div>



<div style="padding-top:3%;" class = "deffont">

    <h2 style="padding-top:3%;" class="title center">A Few Fun Facts</h2>
    <div class="border"></div>

        <div style="padding-top:3%;">
            <div class="center2">
                <img src="\static\Pictures\1.jpg"  alt = "Image Not Found"/>
                <img src="\static\Pictures\2.jpg"  alt = "Image Not Found" />
                <img  src="\static\Pictures\3.jpg"  alt = "Image Not Found" />
                <img  src="\static\Pictures\4.jpg"  alt = "Image Not Found" />
            </div>

            <div class="center2">
                <img  src="\static\Pictures\5.jpg"  alt = "Image Not Found" />
                <img  src="\static\Pictures\6.jpg"  alt = "Image Not Found" />
                <img  src="\static\Pictures\7.jpg"  alt = "Image Not Found" />
                <img  src="\static\Pictures\8.jpg"  alt = "Image Not Found" />
            </div>
        </div>
    <div style="padding-top:3%; width:52%;" class="center1 bodytext">
        <text>
            One of my favorite things to do for fun is be a member of Central Michigan University's Chippewa Drumline.
            I also have a dog named Zoey, I play a ton of video games, I'm Vice President of Central Michigan
            University's Club Paintball, and I have a passion for technology.
        </text>
    </div>

    <h2 style="padding-top:3%;" class="title center">A Look Into My Life</h2>
    <div class="border"></div>
        <div style="padding-top:3%; width:52%;" class="center1 bodytext">
            <text>
                During the colder months, I spend my time at Central Michigan University pursuing my passions. As a member of CMU's marching
                band, I'm able to grow and learn new things every day. On the off season, I'm the vice president of CMU's Paintball Club. As
                a member of the club, I've had the pleasure of meeting many people from different universities across Michigan.
            </text>
        </div>
    </div>



    </div>

</div>


{%  endblock  %}