{% extends 'website/base.html' %}
{% load staticfiles %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/projects.css' %}">

<div class="center1 deffont">



    <text class="bodytext">

        Here is where you can find some of the projects I've worked on, a few programming languages I'm familiar with,
        my relevant work experience, and my CV. Also, here's a link to my <a href="https://github.com/whorst/">GitHub</a>
        and to my <a href="https://www.linkedin.com/in/william-horst-173b21109?trk=hp-identity-name">LinkedIn</a>.
    </text>

</div>

<div class = "center deffont">

     <h2 style="padding-bottom:3%; padding-top:3%;" class="title center">Projects</h2>

    <table class="bodytext">

        <td style="padding-right:2%;">
            <iframe width="400" height="400" src="https://www.youtube.com/embed/20gqZ4r4Oj8" frameborder="2" allowfullscreen></iframe>
        </td>

        <td style="padding-left:2%;">
            <iframe width="400" height="400" src="https://www.youtube.com/embed/20gqZ4r4Oj8" frameborder="2" allowfullscreen></iframe>
        </td>

    </table>

</div>


<div style="padding-top:3%;" class = " deffont">

     <h2 style="padding-bottom:3%;padding-top:3%;" class="title center">Programming Languages</h2>

    <div id="divtable" class="center bodytext" style="width:0; display: table;">
        <div style="display: table-row">
            <div  style="padding-bottom:20%; text-align:center; width:35%; display: table-cell;"> Java </div>
            <div style="padding-bottom:20%; text-align:center; width:35%; display: table-cell;"> Python </div>
        </div>
        <div style="display: table-row">
            <div style="padding-bottom:20%; text-align:center; width:35%; display: table-cell;"> HTML </div>
            <div style="padding-bottom:20%; text-align:center; width:35%; display: table-cell;"> jQuery </div>
        </div>
        <div style="display: table-row">
            <div style="text-align:center; width:35%; display: table-cell;"> CSS </div>
            <div style="text-align:center; width:35%; display: table-cell;"> Android </div>
        </div>
    </div>

</div>

<div style="padding-top:3%;" class = "center deffont">

    <h2 style="padding-bottom:3%;padding-top:3%; " class="title center">Relevant Work Experience</h2>
    <div class="center bodytext">

        <div>
            <a class="deffont" style="text-decoration: none !important;" href="http://www.umg1.com/">Information Technology Support</a>
                <div>
                    <text style="color: #606060">June 2013 - August 2015</text>
                </div>
        </div>

    </div>


</div>






<!--
<iframe id = "radio" width="420" height="345"
src="http://www.youtube.com/watch?v=20gqZ4r4Oj8">
</iframe>
-->
<!--https://github.com/whorst/-->

{%  endblock  %}