{% extends 'website/base.html' %}
{% load staticfiles %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/projects.css' %}">

<div class="center1">

    <text class="bodytext">

        Here is where you can find some of the projects I've worked on, a few programming languages I'm familiar with,
        my relevant work experience, and my CV. Also, here's a link to my GitHub and to my LinkedIn.

    </text>

</div>

<!--
<iframe id = "radio" width="420" height="345"
src="http://www.youtube.com/watch?v=20gqZ4r4Oj8">
</iframe>
-->
<!--https://github.com/whorst/-->

{%  endblock  %}