{% extends 'website/base.html' %}
{% load staticfiles %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/projects.css' %}">

<div class="center1 deffont">



    <text class="bodytext">

        Here is where you can find some of the projects I've worked on, a few programming languages I'm familiar with,
        my work experience, and my CV. Also, here's a link to my <a href="https://github.com/whorst/">GitHub</a>
        and to my <a href="https://www.linkedin.com/in/william-horst-173b21109?trk=hp-identity-name">LinkedIn</a>.
    </text>

</div>

<div class = "center deffont">

     <h2 style="padding-top:3%;" class="title center"><text>Projects</text></h2>

     <div class="border" style="width: 175px;"></div>

    <table class="bodytext">

        <td style="padding-top:12%; padding-right:2%;">
            <iframe width="400" height="400" src="https://www.youtube.com/embed/20gqZ4r4Oj8" frameborder="2" allowfullscreen></iframe>
        </td>

        <td style="padding-top:12%; padding-left:2%;">
            <iframe width="400" height="400" src="https://www.youtube.com/embed/20gqZ4r4Oj8" frameborder="2" allowfullscreen></iframe>
        </td>

    </table>

</div>


<div style="padding-top:3%;" class = " deffont">

    <h2 style="padding-top:3%;" class="title center">Programming Languages</h2>
    <div class="border" style="width: 425px;"></div>
    <div id="divtable" class="center bodytext" style="padding-top:3%; width:0; display: table;">
        <div style="display: table-row">
            <div  style="padding-bottom:20%; text-align:center; width:35%; display: table-cell;"> Java </div>
            <div style="padding-bottom:20%; text-align:center; width:35%; display: table-cell;"> Python </div>
        </div>
        <div style="display: table-row">
            <div style="padding-bottom:20%; text-align:center; width:35%; display: table-cell;"> HTML </div>
            <div style="padding-bottom:20%; text-align:center; width:35%; display: table-cell;"> jQuery </div>
        </div>
        <div style="display: table-row">
            <div style="text-align:center; width:35%; display: table-cell;"> CSS </div>
            <div style="text-align:center; width:35%; display: table-cell;"> Android </div>
        </div>
    </div>

</div>

<div style="padding-top:3%;" class = "center deffont">


    <h2  class="title center">Work Experience</h2>
    <div class="border" style="width: 325px;"></div>
    <div class="center bodytext" style="padding-top:3%; padding-bottom:2%;">
        <div>
            <a class="deffont" style=" text-decoration: none !important;" href="https://www.cmich.edu/colleges/cst/comp_sci/Pages/default.aspx">Undergraduate Research Assistant</a>
                <div style="padding-top:1%;">
                    <text style="font-size:20px; color: #606060">Universal Marketing Group, Toledo, Ohio, June 2013 - August 2015</text>
                </div>
                <div class = "center" style="font-size:20px; padding-top:1%; width:45%; word-wrap: break-word;">
                    <text>
                         As an undergraduate research assistant, I have the privilege of working with several students and
                        professors from multiple universities. In this position I've use the Django framework to create
                        a Twitter application that can review trending Twitter topics and retrieve information about those topics.
                        I've also used the Stanford Named Entity Recognizer to

                    </text>
                </div>
        </div>
    </div>

    <div class="center bodytext" style="padding-bottom:2%;">
        <div>
            <a class="deffont" style="text-decoration: none !important;" href="http://www.umg1.com/">Information Technology Support</a>
                <div style="padding-top:1%;">
                    <text style="font-size:20px; color: #606060">Central Michigan University, Mt. Pleasant, Michigan, August 2015 - Present</text>
                </div>
                <div class = "center" style="font-size:20px; padding-top:1%; width:45%; word-wrap: break-word;">
                    <text>
                        At Universal Marketing Group I gained valuable problem solving, technical, communication, and people
                        skills by building and troubleshooting the 250 computers at the facility, helping to manage a
                        Windows domain, and being a member of an IT support team. I was also able to familiarize myself
                        with Windows Office 365 and Windows Server 2008.

                    </text>
                </div>
        </div>
    </div>

</div>





<!--
<iframe id = "radio" width="420" height="345"
src="http://www.youtube.com/watch?v=20gqZ4r4Oj8">
</iframe>
-->
<!--https://github.com/whorst/-->

{%  endblock  %}