.center1{
    text-align: center;
    width: 67%;
    margin: 0 auto;
}



.center{

    width:40%;
    margin: auto;

}

p{

font-family: Georgia;


}


.ln{

    width:49.60%;
    display:inline-block;

}


.bodytext{

color:gray;
opacity=0.8;
font-size:25px !important;
font-family:"Georgia";
}



