.bodytext{

color:gray;
opacity=0.8;
font-size:20px !important;

}

.ashow{

   font-size:20px;

}

.center{

    width: 67%;
    margin: 0 auto;

}

.table_hold{

    width: 100%;
    margin: 0 auto;

}

.targetDiv {
    display: none
}
.first {
    display: block
}

.divtoggle1 {
  position:absolute;
  text-align:center;
  padding-right:22%;
}
.divtoggle2 {
  position:absolute;
  text-align:center;
  padding-right:22%;

}
.divtoggle3 {
  position:absolute;
  text-align:center;
    padding-right:22%;

}
.divtoggle4 {
  position:absolute;
  text-align:center;
   padding-right:22%;

}


.table{

    margin-top:2.5%;
    width:40%;
    margin: 0 auto;
    border-top: none !important;
    border-bottom: none !important;
}

td{
border-top: none !important;

}

.title{

align-text:center;
font-size:32px;

}

#hold_img{
    width: 100%;
    margin: 0 auto;
}

#will_full{

    display : block;
    margin : auto;
    height: 20%;

}


.bodytext{

color:gray;
opacity=0.8;
font-size:25px !important;
font-family:"Georgia";
}

center1{
    text-align: center;
    width: 67%;
    margin: 0 auto;
}

.deffont{
font-family:Georgia;
color:black;


}

.border {

    width: 18%;
    border-style: none none ridge none;
    margin: 0 auto;
}

.center1{
    text-align: center;
    width: 67%;
    margin: 0 auto;
}