

#hold_img{
    width: 100%;
    margin: 0 auto;
}

#will_full{

    display : block;
    margin : auto;
    height: 388;

}

ele{

    color:black;
    font-size: 1.4em;
    font-family: "georgia";

}