.bodytext{

color:gray;
opacity=0.8;
font-size:25px !important;
font-family:"Georgia";
}



.center1{
    text-align: center;
    width: 67%;
    margin: 0 auto;
}


.center{
    text-align: center;
    width: 100%;
    margin: 0 auto !important;

}


div text a{

    text-decoration: none !important;

}

.title{

align-text:center;
font-size:32px;

}



.deffont{
font-family:Georgia;
color:black;


}

.col{

padding-right:20%;

}

table{

    text-align:center;
    width: 30%;
    margin: 0 auto;

}
tblrow{

    padding-bottom:4%;
    text-align:center;
    width:15%;
    display: table-cell;

}
 a{

    text-decoration:none;
    font-color:black;

 }

.border {

    border-style: none none ridge none;
    margin: 0 auto; }

