/* This is for CSS */

#intro{

    width: 50%;
    margin: 0 auto;
}

/*#all{

    text-align: center;

}
*/
h1{

    text-align: center; !important;
}


#about{

    margin: 0 auto;
    width: 100%;

}

.ele{

    color:black;
    font-size: 1.4em;
    font-family: "georgia";

}
a.ten{


    color:black;
    font-size: 1.4em;
    padding-left: 30px;
    font-family: "georgia";

}

a:hover.ele{

     text-align: center;
    color:darkblue;
    font-size: 1.4em;
    text-decoration: none;
    font-family: "georgia";
}


a:hover.ten{

     text-align: center;
    color:darkblue;
    font-size: 1.4em;
    text-decoration: none;
    padding-left: 30px;
    font-family: "georgia";
}


#page-header{
    margin-top: 40px;
    margin-left: 75px;
    display: inline;
    width: 30%;


}

#tab{


     width: 50%;
    margin: 0 auto;

}

#menu{
    width: 100%;
    margin: 0 auto;
    padding-top:20px;
    display:inline-block;
}

body {

    padding-top: 100px;
}


#info{

    margin-left: 75px;
    margin-bottom: 75px;
    padding-top: 500px;

}

